extend admin
block adminContent
  if success
    .Notice.success Your message was successfully sent
  form(action='', method='post')
    fieldset.FormBlock
      table.ListTable(cellpadding='0', cellspacing='0', border='0', width='100%')
        thead
          tr
            th
            th User
            th User type
            th Socket ID
            th Version
            th Current case
        tbody
          for person in people
            for conn, socketID in person.connections
              tr
                td
                  input(type='checkbox', name='socketID' value=socketID)
                td #{person.username}
                td #{person.userType}
                td #{socketID}
                td #{conn.appVersion}
                td #{conn.caseViewed}
      label.FormRow
        span.FormRow-label Choose a message to send
        select(name='msg')
          for optText, optId in msgOptions
            option(value=optId) #{optText}
      .FormActions
        button.Button(type='submit', name='selectedClients', value='true') Send to selected sessions
        button.Button(type='submit', name='allClients', value='true') Send to all sessions
